.SidebarTop {
	background: hsla(12, 76%, 61%, 1);
	background: linear-gradient(270deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 98%);
	background: -moz-linear-gradient(270deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 98%);
	background: -webkit-linear-gradient(270deg, hsla(12, 76%, 61%, 1) 0%, hsla(43, 74%, 66%, 1) 98%);
}

.SidebarBottom {
	background: hsla(43, 74%, 66%, 1);
	background: linear-gradient(270deg, hsla(43, 74%, 66%, 1) 30%, hsla(197, 37%, 24%, 1) 100%);
	background: -moz-linear-gradient(270deg, hsla(43, 74%, 66%, 1) 30%, hsla(197, 37%, 24%, 1) 100%);
	background: -webkit-linear-gradient(270deg, hsla(43, 74%, 66%, 1) 30%, hsla(197, 37%, 24%, 1) 100%);
}

@media (min-width: 768px) {
	.SidebarTop {
		min-height: 60vh;
	}

	.SidebarBottom {
		min-height: 40vh;
	}
}
