body {
	position: relative;
	margin: 0;
}

main {
	position: inherit;
	width: 100%;
}

@media (min-width: 769px) {
	.App {
		min-height: calc(var(--vh, 1vh) * 100);
		display: flex;
	}

	main {
		position: absolute;
		right: 0;
		overflow-y: scroll;
		width: 67%;
	}
}
